* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Meiryo', sans-serif;
    line-height: 1.6;
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #26d0c9;
}

header {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background-color: #dee7ec;
    color: #889eab;
    margin-bottom: 20px;
}

h1, h2 {
    margin-bottom: 10px;
}

.introduction, .images {
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
    background-color: #2f5167;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 10px;
}

figure {
    background-color: #2f5167;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 250px;
    height: auto;
    border-radius: 5px;
}

figcaption {
    margin-top: 10px;
    color: #fff;
}

footer {
    background-color: #26d0c9;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
